{% extends "layout.html" %}
{% block content %}
<br>
<h2>Administrator page</h2>
<div class="row">
    <div class="col-md-3">
        <a href="/register" class="btn btn-primary">Register</a>
    </div>
</div>
<hr>
<p>Hi, {{ user['username'] }}.</p>

<br>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>#</th>
        <th>Priority</th>
        <th>Title</th>        
        <th>Deadline</th>
        <th>Created</th>
        <th>Done</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td>{{ task['id'] }}</td>
        <td>{{ task['priority'] }}</td>
        <td>{{ task['content'] }}</td>
        <td>{{ task['deadline'] }}</td>
        <td>{{ task['created_at'] }}</td>
        <td>{% if task['done'] %}
            <div class="text-success">Y</div>
            {% else %}
            <div class="text-danger">N</div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br><br>
<h3> Calendar </h3>
<p>↓　Click here to customize plans</p>
{% autoescape false%}
{{ calender }}
{% endautoescape%}
<br>
 
{% endblock %}