{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <h1>Plan(s) of {{ year }}, {{ month }}, {{ day }}</h1>
    </div>
    <div class="col-md-2">
        <a href="/admin" class="btn btn-primary">Back</a>
    </div>
</div>
<hr>
<p>Hi {{ username }}, finish registering and flagging!</p>
<div class="col-md-12">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Priority</th>
            <th>Title</th>        
            <th>Deadline</th>
            <th>Created</th>
            <th>Done</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <form action="/done" method="POST">
            <tr>
                <td>{{ task['id'] }}</td>
                <td>{{ task['priority'] }}</td>
                <td>{{ task['content'] }}</td>
                <td>{{ task['deadline'] }}</td>
                <td>{{ task['created_at'] }}</td>
                {% if task['done'] %}
                <td>
                    <div class="text-success">Done</div>
                </td>
                <td>
                    <button class="btn btn-primary" type="submit" name="task_id" value="{{task.id}}">Redo</button>
                </td>
                {% else %}
                <td>                    
                    <div class="text-danger">Doing</div>
                </td>
                <td>                    
                    <button class="btn btn-primary" type="submit" name="task_id" value="{{task.id}}">Finish</button>
                </td>
                {% endif %}                
            </tr>
        </form>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <hr>
    <br>
    <h3>Add Tasks</h3>
    <form action="/add" method="post">
        <div class="row">
            <h5>Title: </h5>
            <p class="pl-3"><input type="text" size="50" maxlength="200" name="content"></p>
        </div>
        <div class="row">
            <h5>Deadline: </h5>
            <p class="pl-3"><input type="date" name="date" value="{{year}}-{{month}}-{{day}}"></p>
            <p class="pl-3"><input type="time" name="time"></p>
        </div>
        <br>
        <br>
        <div class="row">
            <h5>Priority: </h5>
            <p class="pl-3">
                <select name="priority">
                    {% for priority in priorities %}
                    <option value="{{priority}}">{{priority}}</option>
                    {% endfor %}
                </select>
            </p>
        </div>
        <div class="row">
            <h5>Category: </h5>
            <p class="pl-3">
                <select name="category">
                    {% for category in categories %}
                    <option value="{{category}}">{{category}}</option>
                    {% endfor %}
                </select>
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
{% endblock %}