{% extends "layout.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-10">
        <h1>Plan(s) of {{ year }}, {{ month }}, {{ day }}</h1>
    </div>
    <div class="col-md-2">
        <a href="/admin" class="btn btn-primary">Back</a>
    </div>
</div>
<hr>
<p>Hi {{ username }}, finish registering and flagging!</p>
<div class="col-md-12">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Priority</th>
            <th>Title</th>        
            <th>Deadline</th>
            <th>Created</th>
            <th>Done</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <form action="/done/?id={{task.id}}" method="POST">
            <tr>
                <td>{{ task['id'] }}</td>
                <td>{{ task['priority'] }}</td>
                <td>{{ task['content'] }}</td>
                <td>{{ task['deadline'] }}</td>
                <td>{{ task['created_at'] }}</td>
                {% if task['done'] %}
                <td>
                    <div class="text-success">Done</div>
                </td>
                <td>
                    <button class="btn btn-primary" disabled="disabled">Done</button>
                </td>
                {% else %}
                <td>                    
                    <div class="text-danger">Doing</div>
                </td>
                <td>                    
                    <button class="btn btn-primary" type="submit">Finish</button>
                </td>
                {% endif %}                
            </tr>
        </form>
        {% endfor %}
        </tbody>
    </table>
    <br>
</div>
{% endblock %}